body{
    background-image: url(https://camo.envatousercontent.com/7b65e9dde75c8765c2bf27e34b4375092458b1d4/68747470733a2f2f692e6962622e636f2f4e5450515966772f332e6a7067);
    background-repeat: no-repeat;
    background-size: cover;
}

.details{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.details_text{
    margin-left: 200px;
    color: white;
}

canvas{
    border: 10px greenyellow solid;
    border-radius: 1rem;
    box-shadow: 1px 1px 38px black;
    margin-top: 1.5rem;
}

video{
    border: 10px greenyellow solid;
    border-radius: 1rem;
    margin-left: 1rem;
}